.features-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.features-item {
  width: 264px;
}

.features-icon {
  margin-bottom: 8px;
  width: 264px;
  height: 112px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.features-icon img {
  width: 64px;
  height: 64px;
}

.features-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.features-desc {
  color: #434455;
}
